# Ignore everything by default:
/*
/*/

# But allow these files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.npmrc
!/.prettierignore
!/.vscode
!/test
!/packages
!/package.json

# But make sure to ignore these regardless:
OLD *
